body{
    width:1400px;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#display{
    width:1100px;
    display:inline-block;
}

#categorySelect{
    width:300px;
    display:inline-block;
    background-color: skyblue;
    float:right;
}


.category{
    display:block;
    padding:10px;
    padding-left:20px;
    font-weight: bold;
    border:2px solid black;
}


.subCategoryNav{
    display:block;
    background-color:lightgreen;
    border-left:2px solid black;
}

.subCategory{
    padding:5px;
    border-right:2px solid black;
    line-height: 30px;
    display:inline-block;
}

.forms{
    display:flex;
}

.leftHalf, .rightHalf {
    width:440px;
    display:inline-block;
}

.rightHalf{
    
}

.left{
    text-align: right;
    width:150px;
    display:inline-block;
}

input.right{
    width:250px;
    display:inline-block;
}

label.left{
    padding-bottom:20px;
}

select.right{
    display:inline-block;
}
select{
    display:block;
}

